
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 97vh;
    background: rgb(105, 166, 246);
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
}

.wrapper { 
    width: 600px;
    background-color:white;
    border-radius: 15px;
    padding: 0px 30px 30px;
}

