
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 97.5vh;
    background: rgb(105, 166, 246);
    font-family: 'Montserrat', sans-serif;
}

h1, p {
    text-align: center;
}

.wrapper { 
    width: 600px;
    background-color:white;
    border-radius: 15px;
    padding: 0px 30px 30px;
}

.wrapper .bttnContainer {
    border-top: 1px solid #ccc;
}

.bttnContainer, .bttnContainerTwitter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.button {
    display: inline-block;
    padding: 15px 15px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #199ce2;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #e2e2e2;
}
  
.button:hover {background-color: #437fe7}
  
.button:active {
    background-color: #3e6e8e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Twitter */
.fa-twitter {
    color: white;
    font-size: 18px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
}

